*.iml
.gradle
.DS_Store
build
captures
local.properties
.idea/caches/build_file_checksums.ser
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/misc.xml
.idea/vcs.xml
.idea/misc.xml
.idea/runConfigurations.xml
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/codeStyles/Project.xml
